<html>
    <head>
        <title>Mambu Card transaction</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
        </head>
        <body>
<!-- <div class="ui segment">
	
		<a class="ui label"  href="/index">
			
  
  MAMBU Bank GmBh
</a>

		
	</div> -->
			
			
<h2 class="ui center olive aligned icon header">
  <i class="building outline icon"></i>
	<a class="ui olive label"  href="/index">
  MAMBU Bank GmBH
		</a>
</h2>
    <div class="container">