<% include /workspace/projectx/views/partials/header.ejs %>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item">
        Clients
      </a>
      <a class=" item">
        Loans
      </a>
      <a class=" item">
        Deposits
      </a>
      <a class=" item">
        Payments
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
    </div>
  </div>
</div>

<% include /workspace/projectx/views/partials/footer.ejs %>